@charset "utf-8";

$fa-font-path: "../webfonts/";

@import "fa/fontawesome.scss";
@import "fa/solid.scss";
@import "bulma-0.7.1/bulma.sass";


rect.c-apply {
	stroke : #00d1b2;
	fill : white;
}

rect.c-apply-hover {
	stroke : #00d1b2;
	fill : #00d1b2;
}

rect.c-delete {
	stroke : #ff3860;
	fill : white;
}

rect.c-delete-hover {
	stroke : #ff3860;
	fill : #ff3860;
}




text.c-add {
	font-size: 2rem;
	dominant-baseline: central;
	fill :  #00d1b2;
	opacity: .5;
}

rect.c-add {
	stroke : #00d1b2;
	stroke-dasharray: 10 5;
	fill : white;
	opacity: .5;
}

text.c-add-hover {
	font-size: 2rem;
	dominant-baseline: central;
	fill : #00d1b2;
	opacity: 1;
}
rect.c-add-hover {
	stroke : #00d1b2;
	stroke-dasharray: 10 5;
	fill : white;
	opacity: 1;
}

.c-add.is-editable, .c-add-hover.is-editable, .c-remove.is-editable, .c-remove-hover.is-editable {
	cursor:pointer;
}

.c-add.is-locked, .c-add-hover.is-locked, .c-remove.is-locked, .c-remove-hover.is-locked {
	cursor:wait;
}

rect.c-remove {
	stroke: none;
	fill:transparent;
	cursor:pointer;
}

line.c-remove {
	stroke: #ff3860;
	stroke-width: 3px;
	stroke-linecap: round;
	cursor:pointer;
}

rect.c-remove-hover {
	stroke: none;
	fill:transparent;
	cursor:pointer;
}
line.c-remove-hover {
	stroke: #ff3860;
	stroke-width: 5px;
	stroke-linecap: round;
	cursor:pointer;
}
.force-white-stroke {
	stroke: white !important;
}



button, button span {
	-webkit-user-select: none;
	-moz-user-select: none;	
}

button:focus {
    outline: 0 !important;
}

button::-moz-focus-inner {border:0;}

text {
	-webkit-user-select: none;
	-moz-user-select: none;	
    font-weight: bold;
    text-anchor: middle;
}

text.lower {
	dominant-baseline: text-before-edge;
}

text.upper {
	dominant-baseline: text-after-edge;
}


text.c-apply {
	fill : #00d1b2;
}

text.c-apply-hover {
	fill : white;
}

text.c-delete {
	fill : #ff3860;
}

text.c-delete-hover {
	fill : white;
}

.c-apply.is-editable, .c-apply-hover.is-editable, .c-delete.is-editable, .c-delete-hover.is-editable {
	cursor: pointer;
	opacity: 1;
}

.c-apply.is-locked, .c-apply-hover.is-locked, .c-delete.is-locked, .c-delete-hover.is-locked {
	cursor: wait;
	opacity: .5;
}

.yaml-editor {
	font: 9px monospace;
	margin-top:10px
}

.arrow {
	fill:none;
	stroke:#3273dc;
	stroke-linecap:round;
	stroke-width:5px;
}

.save-warning {
	flex: 0 0 100%;
	margin-bottom: 5px;
	background-color: transparent;
	border: 1px solid #ff3860;
	border-radius: 4px;
	color: #ff3860;
	pointer-events: none;
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.375em - 1px);
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;	
}

.task-data-input {
	margin-left:10px;
	border:none;
	height: 2em;
	padding-bottom: calc(0.375em - 1px);
	padding-left: calc(0.625em - 1px);
	padding-right: calc(0.625em - 1px);
	padding-top: calc(0.375em - 1px);
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #F9F9F9;

}

